<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
          <span>ZeroTrans</span>
        </a>
        <p>Your reliable partner for fast and secure deliveries. We ensure your goods reach their destination on time and in perfect condition.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About us</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'termsofservice' %}">Terms of service</a></li>
          <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Express Delivery</a></li>
          <li><a href="#">International Shipping</a></li>
          <li><a href="#">Warehousing</a></li>
          <li><a href="#">Customs Clearance</a></li>
          <li><a href="#">Supply Chain</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          A108 Adam Street <br>
          New York, NY 535022<br>
          United States <br><br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <strong>Email:</strong> info@zerotrans.com<br>
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>ZeroTrans</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://developerkorir.github.io/">Calton Korir</a>
    </div>
  </div>
</footer>
