{% extends 'layouts/master.html' %}
{% load static %}
{% block content %}

	<main id="main">


		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				 style="background-image: url('{% static 'img/page-header.jpg' %}');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>About Us</h2>
							<p>Welcome to ZeroTrans - Your Trusted Logistics Partner!</p>
							<p>At ZeroTrans, we are committed to providing seamless logistics solutions tailored to your
								needs. Our mission is to deliver excellence in transportation, warehousing, and supply
								chain management.</p>
							<p>With a dedicated team and state-of-the-art technology, we ensure your goods reach their
								destination safely and on time. Partner with us for a reliable and efficient logistics
								experience.</p>
						</div>

					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>About</li>
					</ol>
				</div>
			</nav>
		</div>


		<section id="about" class="about pt-0">
			<div class="container" data-aos="fade-up">
				<div class="row gy-4">
					<div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
						<img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
						<a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
					</div>
					<div class="col-lg-6 content order-last order-lg-first">
						<h3>Who We Are</h3>
						<p>
							Zerotrans is not just a logistics company; we are your partners in seamless cargo
							management. Our journey began with a vision to revolutionize the logistics industry, and
							today, we stand as pioneers in delivering excellence.
						</p>
						<ul>
							<li data-aos="fade-up" data-aos-delay="100">
								<i class="bi bi-diagram-3"></i>
								<div>
									<h5>Committed to Excellence</h5>
									<p>Our commitment to excellence is unwavering. We strive to provide impeccable
										logistics services that meet and exceed your expectations.</p>
								</div>
							</li>
							<li data-aos="fade-up" data-aos-delay="200">
								<i class="bi bi-fullscreen-exit"></i>
								<div>
									<h5>Innovation is Our Driving Force</h5>
									<p>We embrace innovation to bring you cutting-edge logistics solutions. From storage
										to transportation, expect nothing but the best-in-class services.</p>
								</div>
							</li>
							<li data-aos="fade-up" data-aos-delay="300">
								<i class="bi bi-broadcast"></i>
								<div>
									<h5>Customer-Centric Approach</h5>
									<p>Your satisfaction is our priority. Our customer-centric approach ensures that
										your logistics experience is seamless, efficient, and tailored to your unique
										needs.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section id="stats-counter" class="stats-counter pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
								  class="purecounter"></span>
							<p>Clients</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
								  class="purecounter"></span>
							<p>Projects</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
								  class="purecounter"></span>
							<p>Hours Of Support</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
								  class="purecounter"></span>
							<p>Workers</p>
						</div>
					</div>

				</div>

			</div>
		</section><!-- End Stats Counter Section -->

		<section id="team" class="team pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<span>Our Team</span>
					<h2>Our Team</h2>

				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">

					<div class="col-lg-4 col-md-6 d-flex">
						<div class="member">
							<img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
							<div class="member-content">
								<h4>Walter White</h4>
								<span>Web Development</span>
								<p>
									Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis
									quaerat qui aut aut aut
								</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""><i class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

					<div class="col-lg-4 col-md-6 d-flex">
						<div class="member">
							<img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
							<div class="member-content">
								<h4>Sarah Jhinson</h4>
								<span>Marketing</span>
								<p>
									Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto
									rerum rerum temporibus
								</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""><i class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

					<div class="col-lg-4 col-md-6 d-flex">
						<div class="member">
							<img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
							<div class="member-content">
								<h4>William Anderson</h4>
								<span>Content</span>
								<p>
									Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et
									laborum toro des clara
								</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""><i class="bi bi-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

				</div>

			</div>
		</section>


		<section id="testimonials" class="testimonials">
			<div class="container">

				<div class="slides-1 swiper" data-aos="fade-up">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img"
									 alt="">
								<h3>Saul Goodman</h3>
								<h4>Ceo &amp; Founder</h4>
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									Our partnership with ZeroTrans has transformed our logistics operations. Their
									commitment to excellence and
									on-time deliveries has made them an invaluable part of our supply chain.
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img"
									 alt="">
								<h3>Sara Wilsson</h3>
								<h4>Designer</h4>
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									ZeroTrans has been instrumental in streamlining our transportation services. Their
									innovative solutions and
									attention to detail make them a reliable partner for any design project.
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img"
									 alt="">
								<h3>Jena Karlis</h3>
								<h4>Store Owner</h4>
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									Working with ZeroTrans for our warehousing needs has been a game-changer. Their
									efficient storage
									solutions have significantly improved our inventory management.
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img"
									 alt="">
								<h3>Matt Brandon</h3>
								<h4>Freelancer</h4>
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									ZeroTrans has provided excellent support for my art shipping needs. Their reliable
									and secure freight
									services have given me peace of mind for transporting my valuable creations.
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img"
									 alt="">
								<h3>John Larson</h3>
								<h4>Entrepreneur</h4>
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									The supply chain management provided by ZeroTrans has been crucial for the success
									of my business. Their
									dedication to efficiency and customer satisfaction sets them apart in the industry.
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
							</div>
						</div>

					</div>
					<div class="swiper-pagination"></div>
				</div>

			</div>
		</section>


		<section id="faq" class="faq">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<span>Frequently Asked Questions</span>
					<h2>Frequently Asked Questions</h2>
				</div>

				<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<div class="col-lg-10">

						<div class="accordion accordion-flush" id="faqlist">

							<div class="accordion-item">
								<h3 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-content-1">
										<i class="bi bi-question-circle question-icon"></i>
										What services does ZeroTrans offer?
									</button>
								</h3>
								<div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
									<div class="accordion-body">
										ZeroTrans offers a wide range of logistics services including storage,
										transportation,
										cargo handling, packaging, and warehousing. Check our Services page for more
										details.
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h3 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-content-2">
										<i class="bi bi-question-circle question-icon"></i>
										How can I track my shipment?
									</button>
								</h3>
								<div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
									<div class="accordion-body">
										Tracking your shipment is easy. Visit our Tracking page and enter your tracking
										number
										for real-time updates on your cargo's location and status.
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h3 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-content-3">
										<i class="bi bi-question-circle question-icon"></i>
										How can I request a quote for services?
									</button>
								</h3>
								<div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
									<div class="accordion-body">
										Requesting a quote is simple. Click on the "Get a Quote" button on our website,
										fill in
										the required information, and our team will get back to you with a customized
										quote.
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h3 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-content-4">
										<i class="bi bi-question-circle question-icon"></i>
										What makes ZeroTrans different from other logistics companies?
									</button>
								</h3>
								<div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
									<div class="accordion-body">
										ZeroTrans prioritizes efficiency, reliability, and customer satisfaction. Our
										state-of-the-art facilities, experienced team, and commitment to quality set us
										apart
										from the rest.
									</div>
								</div>
							</div>

							<div class="accordion-item">
								<h3 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#faq-content-5">
										<i class="bi bi-question-circle question-icon"></i>
										How can I contact ZeroTrans customer support?
									</button>
								</h3>
								<div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
									<div class="accordion-body">
										For any inquiries or assistance, you can reach our customer support team through
										our
										Contact page. We are available to help you with any questions or concerns you
										may have.
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>
		</section>


	</main>

{% endblock %}