{% extends 'layouts/base_template.html' %}
{% load crispy_forms_filters %}

{% block title %}
	Login
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Login</h2>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}" class="link-primary">Sign up</a></p>
    </div>
{% endblock %}

